node_modules
target
.vscode
.settings
.project
.classpath
webpack.generated.js
package-lock.json
package.json
webpack.config.js
/error-screenshots
drivers
tsconfig.json
.idea
types.d.ts
/.npmrc
/frontend/generated
/frontend/index.html
/src/main/frontend/generated
/src/main/frontend/index.html
/pnpm-lock.yaml
/pnpmfile.js
/src/main/dev-bundle
/src/main/bundles
vite.generated.ts
vite.config.ts
