:host([theme~="gridHelperToggle"]) {
  position: absolute;
  top: 0;
  right: var(--fcgh-toggle-right);
  height: 100%;
}

:host([theme~="gridHelperToggle"]) [part="container"] {
  vertical-align: middle;
  height: 100%;
}